{% extends 'layout.html' %}

{% block content %}
<h1>Регистрация</h1>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="text" value="{{ next }}">
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for item in form %}
    <p><label class="form-label" for="{{ item.id_for_label }}">{{ item.label }}</label>{{ item }}</p>
    <div class="form-error">{{ item.errors }}</div>
    {% endfor %}
    <p>
        <button type="submit">Отправить</button>
    </p>
</form>

{% endblock %}